# ==========================================
# CONFIGURACIÓN DJANGO (BACKEND)
# ==========================================
# NOTA: En desarrollo usar True. En Vercel/Render debe ser obligatoriamente False.
DJANGO_DEBUG=True
# Generar una llave aleatoria para el entorno local (No usar la de producción aquí)
DJANGO_SECRET_KEY=ingresa_aqui_una_llave_secreta_local
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend

# ==========================================
# CONFIGURACIÓN POSTGRESQL (BASE DE DATOS)
# ==========================================
DB_NAME=sgp_minero_db
DB_USER=usuario_local
DB_PASSWORD=password_seguro_local
# NOTA DE RED: En un entorno Dockerizado, el host debe ser el nombre del servicio 
# en la red de contenedores (ej. 'db' o el nombre específico de la red), no 'localhost'.
DB_HOST=db
DB_PORT=5432

# ==========================================
# CRIPTOGRAFÍA AES (LEY 19.628 - PII)
# ==========================================
# Llave simétrica de 32 bytes codificada en URL-safe base64 para la librería 'cryptography'
AES_SECRET_KEY=generar_llave_fernet_con_python_y_pegar_aqui=

# ==========================================
# CONFIGURACIÓN REACT / VITE (FRONTEND)
# ==========================================
# Las variables expuestas al frontend en Vite deben iniciar con VITE_
VITE_API_URL=http://localhost:8000/api/v1