# ==========================================
# GESTIÓN DE SECRETOS (CRÍTICO - DEVSECOPS)
# ==========================================
.env
.env.local
.env.production
*.pem
secrets.json
keys/

# ==========================================
# BACKEND: PYTHON / DJANGO
# ==========================================
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
db.sqlite3
media/
staticfiles/

# ==========================================
# FRONTEND: NODE / REACT / VITE
# ==========================================
node_modules/
dist/
build/
.npm/
npm-debug.log*
pnpm-debug.log*

# ==========================================
# SISTEMA OPERATIVO Y ENTORNOS (IDE)
# ==========================================
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
$RECYCLE.BIN/
.vscode/
.idea/

# ==========================================
# DOCKER (Temporales)
# ==========================================
.docker/
docker-compose.override.yml